In [9]:
import pandas as pd

In [10]:
s = pd.Series(list('asdeasdeasdeasdeasde'))

In [11]:
s

0     a
1     s
2     d
3     e
4     a
5     s
6     d
7     e
8     a
9     s
10    d
11    e
12    a
13    s
14    d
15    e
16    a
17    s
18    d
19    e
dtype: object

In [12]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [13]:
s.value_counts()

d    5
s    5
e    5
a    5
dtype: int64

In [14]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [15]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [16]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64